.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  opacity: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 12px 0 rgba(0, 0, 0, 0.14);

}

.logo {
  margin-left: 90px;
  width: 280px;
  height: 54px;
}

.text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 16px;
  opacity: 87%;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 800px;
}

.profile {
  border-radius: 50%;

  width: 44px;
  height: 44px;
  border-width: 2px;
  border: 2px solid #D92756;

}

.space {
  width: 12px;
}