.input_date {

    width: 165px;
    border: none;
    color: black;
    font-size: 16px;
    float: left;
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: Roboto;
    display: center;
  
  
  }