<div class="rectangle">
    <div class="toolbar">
        <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
        <div class="container">
            <p class="login">Login</p>
            <input class="username" type="text" placeholder="Enter Username">
            <input class="password" type="password" placeholder="Enter Password"><br>
            <button class="submit" type="submit">Login</button>
            <p class="forgot-password">Forgot Password?</p>
        </div>


    </div>
</div>