.rectangle {
    height: 1138px;
    width: 1440px;
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
    margin-top: 100px;
    left: 0;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: white;
    opacity: 98%;
  
  
  }
  
  .logo {
    margin-left: 90px;
    width: 280px;
    height: 54px;
  }
  
  .container {
  
    height: 385px;
    width: 535px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 1100px;
    margin-left: 75px;
  
  }
  
  .login {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-left: 165px;
    margin-top: 40px;
    
  }
  
  .username {
  
    height: 56px;
    width: 328px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.38);
    font-size: 16px;
    margin-left: 90px;
    margin-top: 10px;
    letter-spacing: 0.2px;
    border-width: 1px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
  
    letter-spacing: 0.15px;
    line-height: 24px;
  
  
  }
  
  .password {
  
    height: 56px;
    width: 328px;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.38);
    border-width: 1px;
    margin-top: 25px;
    margin-left: 90px;
    font-size: 16px;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    letter-spacing: 0.15px;
    line-height: 24px;
  
  
  
  }
  
  .submit {
  
    height: 48px;
    width: 149px;
    background-color: #D92756;
    border: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 195px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    text-align: center;
  }
  
  .forgot-password {
    height: 14px;
    width: 97px;
    opacity: 0.8;
    color: #000000;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
    margin-left: 225px;
  }