
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<div class="login_background">
  <div class="header">
    <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
    <div class="container">
      <p class="login">Change Password</p>
      <mat-form-field appearance="outline" class="password">
        <mat-label>Enter New Password</mat-label>
        <input matInput type="password">
      </mat-form-field><br>
      <mat-form-field appearance="outline" class="password">
        <mat-label>Re-Enter New Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button routerLink="/home" class="submit" type="submit">Update</button>
    
    </div>
  </div>
</div>