//Header//

.login_background {
  height: 1138px;
  width: 1440px;
  background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
  margin-top: 100px;
  left: 0;
  right: 0;

}


.header {
  height: 100px;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  opacity: 98%;


}

.logo {
  width: 280px;
  height: 54px;
  margin-left: 90px;

}

//Login//

.container {

  height: 385px;
  width: 535px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-top: 700px;
  margin-left: 65px;

}

.login {
  font-family: Inter Medium;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-left: 230px;
  margin-top: 40px;
  letter-spacing: normal;

}

.username {

  height: 56px;
  width: 328px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  font-size: 16px;
  margin-left: 90px;
  margin-top: 10px;
  letter-spacing: 0.2px;
  border-width: 1px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto ;
  letter-spacing: 0.15px;
  line-height: 24px;
  fill:solid;



}

.password {

  height: 56px;
  width: 328px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 1px;
  margin-top: 25px;
  margin-left: 90px;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: black;
  font-family: Roboto;
  letter-spacing: 0.15px;
  line-height: 24px;
  fill:solid;


}

.submit {

  height: 48px;
  width: 149px;
  background-color: #D92756;
  border: none;
  border-radius: 30px;
  margin-top: 35px;
  margin-left: 195px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: center;
  font-family: Roboto;
  fill:solid;
  box-shadow: 0 0 4px 0 #D92756;

}

.forgot-password {
  height: 14px;
  width: 97px;
  opacity: 0.8;
  color: #000000;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: 225px;
  margin-top: 10px;

}