<div class="rectangle">
    <div class="toolbar">
        <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
        <div class="container">
            <p class="login">Change Password</p>
            <input class="username" type="text" placeholder="Enter New Password">
            <input class="password" type="password" placeholder="Re-Enter New Password"><br>
            <button class="submit" type="submit">Update</button>
            
        </div>


    </div>
</div>
