<div class="rectangle">
    <div class="toolbar">
        <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
        <div class="container">
            <p class="login">Login</p>

            <fieldset class="username">
                <legend> Enter Username</legend>
                <input class="input_text" value="Kevin">
            </fieldset>
            <fieldset class="username">
                <legend> Enter Password</legend>
                <input class="input_text" value="***********">
            </fieldset> <br>
            <button class="submit" type="submit">Login</button>
            <p class="forgot-password">Forgot Password?</p>
        </div>


    </div>
</div>