<div class="rectangle">
    <div class="toolbar">
        <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
        <div class="container">
            <p class="login">Change Password</p>

            <fieldset class="username">
                <legend> Enter New Password</legend>
                <input class="input_text" value="**********">
            </fieldset>
            <fieldset class="username">
                <legend>Re-Enter New Password</legend>
                <input class="input_text" value="***********">
            </fieldset> <br>
            <button class="submit" type="submit">Update</button>
           
        </div>


    </div>
</div>
