.rectangle {
    height: 1138px;
    width: 1440px;
    background: linear-gradient(52.03deg, #7A7FC8 0%, #BD385B 100%);
    margin-top: 100px;
    left: 0;
    top: 0;
}

.container {

    height: 585px;
    width: 1034px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin-top: 700px;
    margin-left: 65px;
    padding-top: 20px;
    padding-left: 20px;
}

.input {
    height: 56px;
    width: 209px;
    border-radius: 4px;
    background-color: none;
    font-family: Roboto;
    padding-left: 10px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    border-width: 1px;

}

.email {
    height: 56px;
    width: 306px;
    border-radius: 4px;
    background-color: none;
    font-family: Roboto;
    padding-left: 10px;
    margin: 20px;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    border-width: 1px;
}

button {
    border-radius: 60%;
    height: 51px;
    width: 51px;
    background-color: #D92756;
    color: white;
    border: none;
    margin-left: 10px;


}

.text {
    height: 28px;
    width: 297px;
    color: #000000;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin-left: 20px;
    margin-top: 40px;
}

hr {
    width: auto;
    text-align: left;
    margin-left: 0;
    border-style: dashed;
    color: #A2A2A2;
}

.btn_update {
    width: 129px;
    height: 49px;
    background-color: #D92756;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    margin-left: 500px;
    margin-top: 30px;
    float: left;
    
}
.btn_cancel{
    width: 129px;
    height: 49px;
    background-color: #D92756;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    margin-top: 30px;
    float: left;
    margin-left: 50px;
   
   
}
.cancel{
    margin-left: 970px;
    color: black;
    font-size: 32px;
    line-height: 2px;
}
