<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

<!--Header-->

<div class="home_page" id="home_page">
    <div class="toolbar">
        <img class="logo" src='\assets\Robosoft_logo_horizontal.png' alt="Robosoft_logo">
        <p class="jane_doe">Jane Doe</p>
        <div class="space"></div>
        <img class="profile " src='\assets\profile.png' alt='jane_doe'>
    </div>

    <!--home-page-->

    <div class="float-container">
        <div class="container">
            <h1>Your Questionnaires</h1>
            <button class="button_questionnair" type="submit">New Questionnaire</button>
            <button class="button_secure_codding" type="submit">Secure coding Guidelines</button>
            <p class="arrow_text">ISMS Questionnaire <img class="arrow_ISMS" src="\assets\ic_arrow_forward.png" alt="">
            </p>
            <p class="arrow_text">PA Questionnaire <img class="arrow_PA" src="\assets\ic_arrow_forward.png" alt=""></p>
            <p class="arrow_text">Process Guidelines <img class="arrow_process" src="\assets\ic_arrow_forward.png"
                    alt=""></p>
        </div>

        <div class="container_main">

            <div class="form">

                <p class="questionnaire">Questionnaire</p>

                <fieldset class="enter_title">
                    <legend> Enter Title</legend>
                    <input class="input_title " value="Secure coding Guidelines">
                </fieldset>
                <p class="hint">Please enter appropriate title</p>

                <fieldset class="description">
                    <legend> Description </legend>
                    <textarea rows="2"
                        class="description_text">These Guidelines Helps you to code in a secure manor which would assist in keeping the product data safe</textarea>
                </fieldset>

                <div>
                    <fieldset class="button_title">
                        <legend> Button Title</legend>
                        <input class="input_text" value="I Accept">
                    </fieldset>


                    <fieldset class="button_text">
                        <legend>Button Text</legend>
                        <input class="btn_text" value="I have the red guidelines">
                    </fieldset>

                </div>

                <fieldset class="check_box_text">
                    <legend> check box text</legend>
                    <input class="input_title " value="I had the red guidelines">
                </fieldset>

                <p class="additional_details">Additional Details</p>

                <div>

                    <fieldset class="button_date">
                        <legend> Select start date</legend>
                        <input class="input_text" value="17/08/2020">

                        <mat-icon ngxMatFileInputIcon class="date">today</mat-icon>

                    </fieldset>

                    <fieldset class="button_date">
                        <legend> Select end date</legend>
                        <input class="input_text" value="17/09/2020">

                        <mat-icon ngxMatFileInputIcon class="date">today</mat-icon>

                    </fieldset>

                    <fieldset class="button_date">
                        <legend> Auto remainder</legend>
                        <input class="input_date" value="4                            Days">

                    </fieldset>
                </div>

                <div>
                    <fieldset class="button_title">
                        <legend> Select content PPT File</legend>
                        <input class="cloud_text" value="secure coding.ppt">

                        <mat-icon ngxMatFileInputIcon class="cloud">cloud_upload</mat-icon>

                    </fieldset>


                    <fieldset class="button_text">
                        <legend>select participant XL sheet</legend>
                        <input class="cloud_text" value="participant.xls">

                        <mat-icon class="cloud">cloud_upload</mat-icon>

                    </fieldset>

                </div>


                <fieldset class="mail_body">
                    <legend> Description </legend>
                    <textarea type="text" rows="4" class="description_mail">Hello <Name>
You are hear-by invited to read and accept the terms and conditions by clicking
on the following link
<link></textarea>
                </fieldset>
            </div>


            <div class="option">
                <div class="vertical-line"></div>
                <button class="button_save" type="button">
                    <mat-icon  aria-hidden="false">save</mat-icon>SAVE
                </button><br>
                <button class="button_save" type="button">
                    <mat-icon  aria-hidden="false">preview</mat-icon>PREVIEW
                </button><br>
                <button class="button_save" type="button">
                    <mat-icon  aria-hidden="false">publish</mat-icon>PUBLISH
                </button><br>
                <button class="button_save" type="button">
                    <mat-icon  aria-hidden="false">add_alert</mat-icon>REMIND
                </button><br>
                <button class="button_save" type="button">
                    <mat-icon  aria-hidden="false">article</mat-icon>GENERATE REPORT
                </button><br>


            </div>


            <button type="button" class="button_add " (click)="options()">
                <mat-icon aria-hidden="false">add</mat-icon>
            </button>
        </div>
    </div>

    <div class="footer">
        <p class="robosoft-copyright">Robosoft. Copyright © 2020. All rights reserved</p>
    </div>

</div>


<!--OPTIONS-->

<div class="options" id="options">

    <a routerLink="/changePassword">
        <button class="option_change_password">Change Password</button>
    </a>
    <button class="option_superadmin" (click)="superAdmin()">Add/Remove Super Admins</button>
    <button class="option_admin" (click)="Admin()">Add/Remove Admins</button>
    <button class="back" (click)="home()">x</button>


</div>

<!-- GREY SCREEN-->
<div class="screen" id="screen"></div>

<!--white screen-->

<div class="white_screen" id="white_screen"></div>

<!--ADMIN-->

<div class="admin" id="admin">
    <p class="cancel" (click)="home()">x</p>
    <p class="text_super_admin">Add/Remove Super Admins</p>
    <div>
        <mat-form-field appearance="outline"  class="input_super_admin">
            <mat-label>Enter Name</mat-label>
            <input [(ngModel)]="admin.name" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input_super_admin">
            <mat-label>Enter Employee ID</mat-label>
            <input [(ngModel)]="admin.employeeCode" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="email_super_admin">
            <mat-label>Enter E-mail id</mat-label>
            <input [(ngModel)]="admin.email" matInput>
        </mat-form-field>

        <button (click)="save()">
            <mat-icon aria-hidden="false">add</mat-icon>
        </button>
    </div>
    <hr>

    
    <div class="row" *ngFor="let admin of adminlist">
       <p class="border_1">{{admin.name}}</p>
       <p class="border_2">{{admin.employeeCode}}</p>
       <p class="border_3">{{admin.email}}</p>
       <button class="admin_button" type="button">
       <mat-icon  aria-hidden="false">create</mat-icon>
    </button>
    <button (click)="delete(admin)"  class="admin_button" type="button">
        <mat-icon aria-hidden="false">delete</mat-icon>
    </button><br>
          </div>
        <button class="update_super_admin" (click)="home()" type="button">Update</button>
        <button class="cancel_super_admin" (click)="home()" type="button">Cancel</button>
    </div>


<!-- super ADMIN-->


    <div class="superAdmin" id="superAdmin">
    <p class="cancel" (click)="home()">x</p>
    <p class="text_super_admin">Add/Remove Admins</p>
    <div>
        <mat-form-field appearance="outline"  class="input_super_admin">
            <mat-label>Enter Name</mat-label>
            <input [(ngModel)]="super_admin.name" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="input_super_admin">
            <mat-label>Enter Employee ID</mat-label>
            <input [(ngModel)]="super_admin.employeeCode" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline"  class="email_super_admin">
            <mat-label>Enter E-mail id</mat-label>
            <input [(ngModel)]="super_admin.email" matInput>
        </mat-form-field>

        <button (click)="save_1()">
            <mat-icon aria-hidden="false">add</mat-icon>
        </button>
    </div>
    <hr>
    <div class="row" *ngFor="let admin of adminlist">
       <p class="border_1">{{super_admin.name}}</p>
       <p class="border_2">{{super_admin.employeeCode}}</p>
       <p class="border_3">{{super_admin.email}}</p>
       <button class="admin_button" type="button">
       <mat-icon  aria-hidden="false">create</mat-icon>
    </button>
    <button (click)="delete_1(super_admin)"  class="admin_button" type="button">
        <mat-icon aria-hidden="false">delete</mat-icon>
    </button><br>
          </div>
        <button class="update_super_admin" (click)="home()" type="button">Update</button>
        <button class="cancel_super_admin" (click)="home()" type="button">Cancel</button>
    </div>






