<div class="float-container">
    <div class="container">
        <h1>Your Questionnaires</h1>
        <button class="button_questionnair" type="submit">New Questionnaire</button>
        <button class="button_secure_codding" type="submit">Secure coding Guidelines</button>
        <p>ISMS Questionnaire <img class="arrow_ISMS" src="\assets\ic_arrow_forward.png" alt=""> </p>
        <p>PA Questionnaire <img class="arrow_PA" src="\assets\ic_arrow_forward.png" alt=""></p>
        <p>Process Guidelines <img class="arrow_process" src="\assets\ic_arrow_forward.png" alt=""></p>
    </div>
    <div class="container_main">

        <div class="form">

            <p class="questionnaire">Questionnaire</p>

            <fieldset class="enter_title">
                <legend> Enter Title</legend>
                <input class="input_text " value="Secure coding Guidelines">
            </fieldset>
            <p class="hint">Please enter appropriate title</p>

            <fieldset class="description">
                <legend> Description </legend>
                <input class="input_text"
                    value="These Guidelines Helps you to code in a secure manor which would assist in keeping the product data safe">
            </fieldset>

            <div>
                <fieldset class="button_title">
                    <legend> Button Title</legend>
                    <input class="input_text" value="I Accept">
                </fieldset>


                <fieldset class="button_text">
                    <legend>Button Text</legend>
                    <input class="input_text" value="I have the red guidelines">
                </fieldset>

            </div>
            <fieldset class="check_box_text">
                <legend> check box text</legend>
                <input class="input_text " value="I had the red guidelines">
            </fieldset>

        </div>
        <div class="options">
            <div class="vl"></div>
            <button class="button_save" type="button">
                <mat-icon aria-hidden="false">save</mat-icon>SAVE
            </button><br>
            <button class="button_save" type="button">
                <mat-icon aria-hidden="false">preview</mat-icon>PREVIEW
            </button><br>
            <button class="button_save" type="button">
                <mat-icon aria-hidden="false">publish</mat-icon>PUBLISH
            </button><br>
            <button class="button_save" type="button">
                <mat-icon aria-hidden="false">remind</mat-icon>REMIND
            </button><br>
            <button class="button_save" type="button">
                <mat-icon aria-hidden="false">generate report</mat-icon>GENERATE REPORT
            </button><br>



        </div>
        <button class="botton_add" type="button">
            <mat-icon aria-hidden="false">add</mat-icon>
        </button>
    </div>
</div>