//Header//

.spacer {

  flex: 1;
}

.toolbar {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: auto;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  opacity: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 12px 0 rgba(0, 0, 0, 0.14);

}

.logo {

  margin-left: 90px;
  width: 280px;
  height: 54px;
}

.jane_doe {

  font-family: Roboto;
  color: black;
  font-size: 16px;
  opacity: 87%;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-left: 800px;
}

.profile {

  border-radius: 50%;
  width: 44px;
  height: 44px;
  border-width: 2px;
  border: 2px solid #D92756;

}

.space {
  width: 12px;
}

//home-page//

.container {
  width: 250px;
  height: 476px;
  box-shadow: 0 4px 40px 0 rgba(217, 39, 86, 0.08);
  border-radius: 20px;
  background-color: #FFFFFF;
  margin-left: 70px;
  padding: 10px;
  padding-left: 25px;
  float: left;
}

.container_main {
  width: 890px;
  height: 952px;
  box-shadow: 0 4px 40px 0 rgba(217, 39, 86, 0.08);
  border-radius: 20px;
  background-color: #FFFFFF;
  float: left;
  margin-left: 20px;
  padding: 10px;
  padding-left: 20px;

}

//left-block//

.float-container {

  background-color: #F7F7F7;
  padding-top: 20px;
  margin-top: 100px;
  height: 1025px;
  width: auto;


}

h1 {
  font-size: 30px;
  line-height: 28px;
  letter-spacing: normal;
  opacity: 87%;
  color: black;
  font-family: Roboto;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 5px;

}

.button_questionnair {
  width: 220px;
  height: 45px;
  border-radius: 30px;
  background-color: #D92756;
  margin-top: 20px;
  border: none;
  fill: solid;
  color: white;
  margin-left: 10px;
  font-size: 14px;
  font-family: Roboto;
  box-shadow: 0 0 4px 0 #D92756;

}

.button_secure_codding {

  width: 220px;
  height: 45px;
  border-radius: 30px;
  border: none;
  fill: solid;
  color: black;
  background-color: rgba(217, 39, 86, 0.05);
  margin-top: 40px;
  margin-left: 10px;
  font-family: Roboto;
  font-size: 14px;

}

.arrow_ISMS,
.arrow_PA,
.arrow_process {

  width: 24px;
  height: 24px;

}

.arrow_ISMS {

  margin-left: 30px;
  margin-top: 25px;
}

.arrow_PA {

  margin-left: 50px;
  margin-top: 10px;
}

.arrow_process {

  margin-left: 40px;
  margin-top: 15px;
}

.arrow_text {

  font-size: 16px;
  font-family: Roboto;
  color: black;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-left: 30px;
}

//right-block//

.questionnaire {

  font-size: 20px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: black;
  opacity: 87%;
  font-weight: 500;
  margin-top: 10px;
}

.enter_title {

  height: 50px;
  width: 580px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 25px;
}

.input_text {

  border: none;
  width: 120px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  outline: none;



}

.input_title {
  border: none;
  width: 520px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  outline: none;
}

.btn_text {

  border: none;
  width: 180px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  outline: none;

}

.cloud_text {

  border: none;
  width: 210px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  outline: none;

}

.hint {

  font-size: 12px;
  font-family: Roboto;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 0;

}

.description {

  height: 90px;
  width: 580px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 15px;


}

.description_text {

  outline: none;
  border: none;
  width: 500px;
  height: 40px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  color: black;


}


.button_title {

  height: 50px;
  width: 270px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  float: left;
  margin-top: 30px;

}

.button_text {

  height: 50px;
  width: 270px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.check_box_text {

  height: 50px;
  width: 580px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
}

.additional_details {

  font-family: Roboto;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: black;
  opacity: 87%;
  margin-top: 40px;
  font-weight: 500;
}

.button_date {
  height: 50px;
  width: 169px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  float: left;
  margin-top: 30px;
}

.input_date {

  width: 165px;
  border: none;
  color: black;
  font-size: 16px;
  float: left;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: Roboto;
  display: center;


}

.mail_body {

  height: 130px;
  width: 580px;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0.38);
  border-width: 0.2px;
  color: rgba(0, 0, 0, 0.38);
  margin-top: 15px;


}

.description_mail {

  outline: none;
  border: none;
  width: 580px;
  height: 95px;
  display: center;
  font-size: 16px;
  font-family: Roboto;
  color: black;

}

.form {
  float: left;
}


.option {
  float: left;
  margin-top: 28px;

}

.vertical-line {
  border-left: 2px solid #D92756;
  border-radius: 1px;
  height: 350px;
  width: 2px;
  float: left;
  position: relative;
  margin-left: 15px;
  margin-right: 20px;
}

.button_save {
  width: 225px;
  height: 48px;
  background-color: #FDF4F6;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.3px;
  border: none;
  margin-bottom: 25px;
  border-radius: 10px;
  color: #D92756;
  text-align-last: left;
  font-family: Roboto;
  font-weight: 500;
  margin-left: 10px;
  align-self: center;


}

.cloud {
  color: #D92756;
}

.date {
  color: #D92756;

}


.button_add {

  height: 40px;
  width: 40px;
  background-color: #D92756;
  color: #FFFFFF;
  border-radius: 100%;
  margin-top: 480px;
  margin-left: 200px;
  margin-bottom: 10px;
  border: none;

}

//footer//

.footer {
  height: 44px;
  width: 1440px;
  background-color: rgba(0, 0, 0, 0.02);
  bottom: 0;




  .robosoft-copyright {
    height: 24px;
    width: 342px;
    color: rgba(0, 0, 0, 0.6);
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin-left: 550px;
    display: inline;
  }
}


.home_page {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

//options//

.options {
  height: 136px;
  width: 198px;
  position: absolute;
  z-index: 2;
  margin-top: 824px;
  margin-left: 1186px;

}

.block1 {
  height: 33.6px;
  width: 194.6px;

  border: none;
  margin: 10px;
  background-color: #FDF4F6;
  color: #D92756;
  font-size: 9.8px;
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 11.2px;
  text-align: center;
  border-radius: 24px;
  outline: none;

}

.block2 {
  height: 33.6px;
  width: 194.6px;
  margin: 10px;
  border: 0px;
  position: 0;
  background-color: #FDF4F6;
  color: #D92756;
  font-size: 9.8px;
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 11.2px;
  text-align: center;
  border-radius: 24px;
  outline: none;

}

.block3 {
  height: 33.6px;
  width: 194.6px;

  border: 0px;
  margin: 10px;
  background-color: #FDF4F6;
  color: #D92756;
  font-size: 9.8px;
  font-weight: 500;
  letter-spacing: 0.88px;
  line-height: 11.2px;
  text-align: center;
  border-radius: 24px;
  outline: none;

}

.btn-fab {
  height: 51px;
  width: 51px;
  background-color: #D92756;
  color: white;
  font-size: 30px;
  border-radius: 25px;
  outline: none;
  margin: 10px;
  border: 0px;



}

.screen {
  height: 1138px;
  width: 1440px;
  background-color: gray;
  opacity: 0.5;
  z-index: 3;
  position: absolute;
}

.white_screen {
  height: 1138px;
  width: 1440px;
  background-color: white;
  opacity: 80%;
  z-index: 4;
  position: absolute;
}

//super Admin //

.superAdmin {

  height: 585px;
  width: 1034px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 200px;
  margin-left: 120px;
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
  z-index: 1;
}

.input_super_admin {
  height: 56px;
  width: 209px;
  border-radius: 4px;
  background-color: none;
  font-family: Roboto;
  padding-left: 10px;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  border-width: 1px;

}

.email_super_admin {
  height: 56px;
  width: 306px;
  border-radius: 4px;
  background-color: none;
  font-family: Roboto;
  padding-left: 10px;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  border-width: 1px;
}

button {
  border-radius: 60%;
  height: 51px;
  width: 51px;
  background-color: #D92756;
  color: white;
  border: none;
  margin-left: 10px;


}

.text_super_admin {
  height: 28px;
  width: 297px;
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 20px;
  margin-top: 40px;
}

hr {
  width: auto;
  text-align: left;
  margin-left: 0;
  border-style: dashed;
  color: #A2A2A2;
}

.update_super_admin {
  width: 129px;
  height: 49px;
  background-color: #D92756;
  color: white;
  border-radius: 30px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin-left: 500px;
  margin-top: 30px;
  float: left;

}

.cancel_super_admin {
  width: 129px;
  height: 49px;
  background-color: #D92756;
  color: white;
  border-radius: 30px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin-top: 30px;
  float: left;
  margin-left: 50px;


}

.cancel {
  margin-left: 970px;
  color: black;
  font-size: 32px;
  line-height: 2px;
}

//admin

.admin {

  height: 585px;
  width: 1034px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 200px;
  margin-left: 120px;
  padding-top: 20px;
  padding-left: 20px;
  position: absolute;
  z-index: -1;
}

.input_admin {
  height: 56px;
  width: 209px;
  border-radius: 4px;
  background-color: none;
  font-family: Roboto;
  padding-left: 10px;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  border-width: 1px;

}

.email_admin {
  height: 56px;
  width: 306px;
  border-radius: 4px;
  background-color: none;
  font-family: Roboto;
  padding-left: 10px;
  margin: 20px;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  border-width: 1px;
}

button {
  border-radius: 60%;
  height: 51px;
  width: 51px;
  background-color: #D92756;
  color: white;
  border: none;
  margin-left: 10px;


}

.text_admin {
  height: 28px;
  width: 297px;
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: 20px;
  margin-top: 40px;
}

hr {
  width: auto;
  text-align: left;
  margin-left: 0;
  border-style: dashed;
  color: #A2A2A2;
}

.update_admin {
  width: 129px;
  height: 49px;
  background-color: #D92756;
  color: white;
  border-radius: 30px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin-left: 500px;
  margin-top: 30px;
  float: left;

}

.cancel_admin {
  width: 129px;
  height: 49px;
  background-color: #D92756;
  color: white;
  border-radius: 30px;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin-top: 30px;
  float: left;
  margin-left: 50px;


}